body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.page-header{
    margin: 0 auto;
    width: 1100px;
    height: 200px;
    background-color: #c2ffc2;
}
.page-header h1{
    margin: 0;
    padding: 25px 0 0 25px;
    font-size: 39px;
}
.menu{
    margin: 0 auto;
    width: 1100px;
    height: 45px;
}
.menu ul{
    margin: 0;
    padding: 0;
}
.menu ul li{
    list-style: none;
    float: left;
    width: 150px;
    background-color: #8d0000;
    margin-right: 10px;
}
.menu ul li a{
    height: 33px;
    padding-top: 12px;
    display: block;
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-size: 19px;
}
.menu ul li a:hover, .active{
    background-color: #ff0000;
}
#wrapper{
    margin: 0 auto;
    width: 1100px;
    height: 350px;
    border: 1px solid #000;
}
.container{
    width: 350px;
    height: 350px;
    border: 1px solid #000;
    float: left;
}
.dv-margin{
    margin-right: 22px;
}
.bg-red{
    background-color: #ffeded;
}
.bg-green{
    background-color: #c2ffc2;
}
.bg-yellow{
    background-color: #ffffd9;
}
#contact-wrapper{
    margin: 0 auto;
    width: 1100px;
    height: 500px;
}
.map{
    width: 49%;
    height: 500px;
    border: 1px solid #000;
    float: left;
}
.contact-frm{
    width: 49%;
    height: 500px;
    border: 1px solid #000;
    float: right;
}
.txt{
    width: 400px;
    height: auto;
    padding: 7px;
    border: 2px solid #ff0000;
}

.tarea{
    min-width: 400px;
    min-height: 250px;
    max-width: 400px;
    max-height: 250px;
    padding: 7px;
    border: 2px solid #ff0000;
}
.btn{
    width: 150px;
    height: auto;
    padding: 5px;
    border-radius: 9px;
    font-size: 20px;
    cursor: pointer;
}

.page-footer{
    margin: 0 auto;
    width: 1100px;
    height: 45px;
}
.page-footer p{
    margin: 0;
    padding: 12px 0 0 0;
    text-align: center;
}